body {
    background: #270c23;
    color: rgb(242, 242, 242);
    background-image: url('/images/nv_transparent_eye_50_percent.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.content {
    padding: 5%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 35px;
    grid-row-gap: 35px;
}

.title {
    grid-column: 1/3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75vw;
}

h1 {
    font-size: 3em;
    color: #fddaf8;
    text-shadow: 0 0 3px #c849b7, 0 0 7px #f7f7f7, 0 0 10px #f7f7f7;
    font-family: "Neonderthaw", cursive;
    font-weight: 590;
    font-style: normal;
    animation: blink 2.5s alternate infinite;
}

@keyframes blink {
    22% {
        opacity: 0.2;
    }

    25% {
        opacity: 0.5;
    }

    27% {
        opacity: 0;
    }

    35% {
        opacity: 0.3;
    }
}

.main_img {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}

.avg_img {
    width: 40vw;
}

.logo {
    height: 60px;
}

header {
    padding: 5px;
    text-align: center;
    background: rgba(147, 26, 171, 0.349);


}

nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: left;
    grid-gap: 40px;
    
}

/* transform: rotate(45deg); */
/* header>nav {
    grid-auto-flow: column;
    justify-content: left;
    grid-gap: 30px;
} */

button {
    /* min-width: 15px;
    padding: 20px;
    border-radius: 50%; */

    height: 6em;
    width: 6em;
    margin: auto;
    background: #9a3a91;
    /* #692161; */
    /* #c989d3; */
    transform: rotate(45deg);
    border-radius: 95% 0;
    position: relative;
}



p {

    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;


    /* 
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal; */
}

.text {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40%;
    font-size: 20px;
}

/* a:visited {
    color: #7cf0ff;
} */

a {
    font-size: 2em;
    color: #fb98ee;
    text-shadow: 0 0 3px #c849b7, 0 0 5px #f7f7f7, 0 0 6px #f7f7f7;
    font-family: "Neonderthaw", cursive;
    font-weight: 590;
    font-style: normal;
}

a:link {
    color: #fb98ee;
    text-shadow: 0 0 3px #c849b7, 0 0 5px #f7f7f7, 0 0 6px #f7f7f7;
    text-decoration: none;
}

 a:visited {
    color: #7cf0ff;
} 

a:hover {
    color: #ebd2e7;
    text-decoration: underline;
    transition: 0.1s;

}

footer {
    background-color: rgba(147, 26, 171, 0.349);
    text-align: center;
    padding: 3%;
    font-size: 15px;
    width: 100%
}